@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700;800;900&display=swap');

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: white;
}