@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;600;700;800;900&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

img, video {
    object-fit: cover;
}

input:checked+div {
    @apply border-theme-color;
}

input:checked+div svg {
    @apply block;
}