.notification-items {
    display: flex;
    gap: 0.3em;
    width: 100vw;
    padding: 0em 1em;
    margin-top: 1em;
    font-size: 15px;
}

.notification-items .tick {
    margin-top: 0.3em;
}

.div1 {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    flex: 2;
}


.align-side {
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.dot {
    background-color: #F2BE5C;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

@media (min-width: 788px) {
    .notification-items {
        padding: 10px 50px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
}