.topnav-container {
    display: flex;
    align-items: center;
    width: 100%;
    /* gap: 0.5em; */
    justify-content: space-between;
    /* overflow-x: auto;  */
}

.topnav-item {
    display: flex;
    width: 8em;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.3em;
    font-size: 13px;
}

@media(min-width: 768px) {
    .topnav-item{
        width: 10em;
        font-size: 17px;
    }

    .topnav-container{
        width: 67vw;
        gap: 2em;
    }
  }


.topnav-item.active:after {
    content: "";
    margin-top: 3px;
    /* background: black; */
}


.nav-button {
    background: rgba(166, 166, 166, 0.7);
    color: black;
    border-radius: 4px;
    width: 10em;
    height: 3em;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: none;
}


.nav-button.active {
    /* opacity: 100%; */
    background-color: black;
    color: #fff;
}