.navigation {
    position: fixed;
    min-width: 70%;
    top: 0;
    right: -100%;
    height: 100%;
    background-color: #fff;
    transition: 1s ease;
    z-index: 10;
}

.navigation.active {
    top: 0.01px;
    right: 0;
    transition: 1s ease;
    overflow-y: scroll;    
}

.navigation p {
    color: #000;
    font-weight: 500;
    font-size: 15px;
}

.closed {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.navigation ul li {
    margin-block: 0.5em;
    list-style: none;
    color: #000;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #000;
}

.list-items{
    display: flex;
    align-items: center;
    gap: 1em;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.list-item2{
    margin-top: 2em;
}

.line{
    background-color: gray;
    height: 1px;
    opacity: 0.5;
    margin: 0.5em;
}


@media (min-width:768px) {
    .navigation {
        min-width: 20%;
    }
}